body, html, #map {
    width: 100%;
    height: 100%;
}

#map {
    z-index: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

#report-panel {
    margin: 0;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    width: 450px;
    height: 100%;
    float: right;
    z-index: -1;
    position: relative;
    background-color: white;
}

.layers {
    width: 125px;
    /*display: inline-block;*/
}

.geo-objects {
    display: inline-block;
}

.manage-layout {
    padding-top: 15%;
    padding-left: 3%;
}

.helper {
    z-index: 2;
    position: relative;
    min-width: 100px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: .8;
}